# React Native
node_modules/
package-lock.json
yarn-error.log
yarn.lock

# Build output
android/.gradle/
android/app/build/
android/app/src/main/assets/*
ios/build/
ios/Pods/
ios/Podfile.lock

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserdatad/
*.xccheckout

# macOS
.DS_Store

# Logs
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
*.lcov

# Environment Variables
.env
.env.*.local

# React Native specific
*.keystore
*.jks

# Other
.idea/
.vscode/
